In [25]:
#get reply count
import pandas as pd

c=0

for dataset in pd.read_json('/data/twitter/ss2020/all/data12.json',chunksize=100000,lines=True):
    if c == 0:
        covid_replies = dataset[['in_reply_to_status_id','created_at']].dropna()
    else:
        covid_replies = covid_replies.append(dataset[['in_reply_to_status_id','created_at']].dropna(), ignore_index=True)

In [26]:
covid_replies['in_reply_to_status_id'] = covid_replies['in_reply_to_status_id'].astype(int)

In [27]:
counts = covid_replies['in_reply_to_status_id'].astype(int).value_counts()

In [28]:
covid_replies['Reply_Count'] = covid_replies['in_reply_to_status_id'].map(counts).fillna(0).astype(int)

In [ ]:
covid_replies = pd.read_json("/data/kash1240/covid_replies.json",lines=True)

In [29]:
covid_replies.sort_values(by='Reply_Count', ascending=False)

         in_reply_to_status_id          created_at  Reply_Count
1501766    1255961778472677376 2020-04-30 20:57:10           66
1531317    1255961778472677376 2020-04-30 21:31:18           66
1503539    1255961778472677376 2020-04-30 20:59:14           66
1508365    1255961778472677376 2020-04-30 21:04:39           66
1531878    1255961778472677376 2020-04-30 21:31:56           66
1506889    1255961778472677376 2020-04-30 21:02:56           66
1514834    1255961778472677376 2020-04-30 21:12:02           66
1514809    1255961778472677376 2020-04-30 21:12:01           66
1554593    1255961778472677376 2020-04-30 21:58:19           66
1533606    1255961778472677376 2020-04-30 21:34:00           66
1506930    1255961778472677376 2020-04-30 21:03:03           66
1555862    1255961778472677376 2020-04-30 21:59:42           66
1502644    1255961778472677376 2020-04-30 20:58:12           66
1519296    1255961778472677376 2020-04-30 21:17:20           66
1500956    1255961778472677376 2020-04-30 20:56:14           66
1519315    1255961778472677376 2020-04-30 21:17:22           66
1507013    1255961778472677376 2020-04-30 21:03:09           66
1505826    1255961778472677376 2020-04-30 21:01:53           66
1514378    1255961778472677376 2020-04-30 21:11:30           66
1514255    1255961778472677376 2020-04-30 21:11:21           66
1551928    1255961778472677376 2020-04-30 21:55:24           66
1507841    1255961778472677376 2020-04-30 21:04:06           66
1544714    1255961778472677376 2020-04-30 21:47:11           66
1546628    1255961778472677376 2020-04-30 21:49:24           66
1535450    1255961778472677376 2020-04-30 21:36:04           66
1510662    1255961778472677376 2020-04-30 21:07:09           66
1515812    1255961778472677376 2020-04-30 21:13:09           66
1510482    1255961778472677376 2020-04-30 21:06:58           66
1504140    1255961778472677376 2020-04-30 20:59:55           66
1500504    1255961778472677376 2020-04-30 20:55:43           66
...                        ...                 ...          ...
1520807    1255969260662390784 2020-04-30 21:19:07            1
1520803    1255969828592070656 2020-04-30 21:19:07            1
1520926    1255698143032705024 2020-04-30 21:19:14            1
1520799    1255969125949566976 2020-04-30 21:19:06            1
1520794    1255906404705148928 2020-04-30 21:19:06            1
1520790    1255967928681238528 2020-04-30 21:19:06            1
1520786    1255954042263678976 2020-04-30 21:19:06            1
1520781    1255939645201879040 2020-04-30 21:19:05            1
1520777    1255938008869724160 2020-04-30 21:19:05            1
1520775    1255573752772845568 2020-04-30 21:19:05            1
1520853    1255955091611361280 2020-04-30 21:19:10            1
1520856    1255968553012002816 2020-04-30 21:19:10            1
1520858    1255969756034801664 2020-04-30 21:19:10            1
1520860    1255956424611426304 2020-04-30 21:19:10            1
1520922    1255957266433441792 2020-04-30 21:19:14            1
1520920    1255935277333274624 2020-04-30 21:19:14            1
1520915    1255907996758093824 2020-04-30 21:19:14            1
1520914    1255964893880020992 2020-04-30 21:19:14            1
1520901    1255916679592390656 2020-04-30 21:19:13            1
1520898    1255927135589588992 2020-04-30 21:19:13            1
1520892    1255949146965622784 2020-04-30 21:19:12            1
1520890    1255869947688955904 2020-04-30 21:19:12            1
1520886    1255965152006017024 2020-04-30 21:19:12            1
1520879    1255496462026358784 2020-04-30 21:19:12            1
1520878    1255941630206468096 2020-04-30 21:19:11            1
1520871    1255952644142772224 2020-04-30 21:19:11            1
1520868    1255960388895739904 2020-04-30 21:19:11            1
1520864    1255969729757380608 2020-04-30 21:19:11            1
1520861    1255948526372208640 2020-04-30 21:19:11            1
1556070    1255977975062966272 2020-04-30 21:59:54            1

[21981 rows x 3 columns]

In [30]:
covid_replies = covid_replies.drop_duplicates(subset = ['Reply_Count'])

In [32]:
covid_replies.rename(columns={"created_at": "Reply_Time"})

         in_reply_to_status_id          Reply_Time  Reply_Count
1500005    1255954519923531776 2020-04-30 20:55:10            1
1500031    1255949572599435264 2020-04-30 20:55:11            8
1500066    1255858050281484288 2020-04-30 20:55:13            2
1500087    1255956799330701312 2020-04-30 20:55:15            3
1500226    1255951778186555392 2020-04-30 20:55:24           14
1500299    1255960473989677056 2020-04-30 20:55:28           13
1500315    1255916564269891584 2020-04-30 20:55:29            9
1500430    1255908864442187776 2020-04-30 20:55:38           18
1500432    1255691672869941248 2020-04-30 20:55:39           10
1500448    1255951052026806272 2020-04-30 20:55:39            6
1500504    1255961778472677376 2020-04-30 20:55:43           66
1500559    1255961050249342976 2020-04-30 20:55:46            7
1500711    1255942321973145600 2020-04-30 20:55:56            4
1500870    1255714490554953728 2020-04-30 20:56:07           21
1500881    1255419074567438336 2020-04-30 20:56:08            5
1501213    1255960238043340800 2020-04-30 20:56:32           20
1501432    1255926261068763136 2020-04-30 20:56:47           23
1502911    1255922426120146944 2020-04-30 20:58:30           28
1504250    1255825648448348160 2020-04-30 21:00:04           16
1506832    1255899730888011776 2020-04-30 21:02:56           12
1507983    1255965800462155776 2020-04-30 21:04:15           17
1525181    1255970831571783680 2020-04-30 21:24:18           22
1537653    1255974796027817984 2020-04-30 21:38:33           26

In [34]:
#read original tweet
import pandas as pd

orig_tweet = pd.read_json('/data/kash1240/covideu_final.json',lines=True)

In [35]:
#mapping reply count and reply time to the original message
orig_tweet = (orig_tweet.merge(covid_replies, left_on='id', right_on='in_reply_to_status_id')
          .reindex(columns=['id', 'created_at', 'place', 'polarity','polarity_score', 'Reply_Count', 'Reply_Time']))